<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Danh mục sản phẩm</title>
        <link
            rel="shortcut icon"
            href="/images/favicon.ico?"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/PagesCSS/danhmucsanpham.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/Grid1200.css" />
        <link rel="stylesheet" href="/css/resetCSS.css" />
        <link
            rel="stylesheet"
            href="/fonts/fontawesome-free-6.1.1-web/css/all.min.css"
        />
    </head>
    <body>
        <div class="app">
            <div class="grid wide">
                <header class="header">
                    <div class="header_top">
                        <a href="/">
                            <img
                                src="/images/logo.png"
                                title="Thành đẹp trai"
                                alt="Logo"
                            />
                        </a>
                        <form
                            action="/timkiem"
                            method="get"
                            class="hide_on_tablet"
                        >
                            <input type="text" name="search" />
                            <button type="submit">Tìm</button>
                        </form>
                        <div id="login" class="login">
                            <% if(username){ %>
                            <pre>Welcome back <%=username %>! </pre>
                            <a href="/dangxuat"> Đăng xuất</a>
                            <% } else { %>
                            <a href="/dangnhap" title="Đăng nhập">Đăng nhập</a>
                            <% } %>
                        </div>
                    </div>
                    <div class="header_bot" id="header-bot">
                        <ul>
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/gioithieu">Giới thiệu</a></li>
                            <li>
                                <a href="/danhmucsanpham">Danh mục sản phẩm</a>
                            </li>
                            <li><a href="/lienhe">Liên hệ</a></li>
                            <li><a href="/giohang">Giỏ hàng</a></li>
                            <li class="hide">
                                <input type="text" value="" name="search-box" />
                                <button type="submit">Tìm</button>
                            </li>
                            <a
                                href="javascript:void(0);"
                                style="font-size: 35px"
                                class="icon"
                                onclick="responsive() "
                                >&#9776;</a
                            >
                        </ul>
                    </div>
                </header>
                <div class="breadscrum">
                    <div class="abc">
                        <a href="/"><strong>Trang chủ</strong></a> /
                        <a href="/danhmucsanpham"
                            ><strong>Danh mục sản phẩm</strong></a
                        >
                    </div>
                </div>
                <div class="container">
                    <div class="sidebar_one">
                        <div class="row_1">
                            <strong>Danh mục sản phẩm</strong>
                            <div class="show">
                                <!-- <input type="checkbox" name="Iphone" value="Iphone" id="Iphone"/>Iphone<br /><br />
                                <input type="checkbox" name="Samsung" value="Samsung" id="Samsung"/>Samsung<br /><br />
                                <input type="checkbox" name="Xiaomi" value="Xiaomi" id="Xiaomi"/>Xiaomi<br /><br />
                                <input type="checkbox" name="Oppo" value="Oppo" id="Oppo"/>Oppo<br /><br />
                                <button type="submit" name="btnLoc" id="btnLoc" onclick="loc()"></button>
                                <label for="btnLoc" onclick="loc()">Lọc</label> -->
                                <ul>
                                    <li><a href="/iPhone">Iphone</a></li>
                                    <li><a href="/samsung">Samsung</a></li>
                                    <li><a href="/oppo">Oppo</a></li>
                                    <li><a href="/xiaomi">Xiaomi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row_2"></div>
                        <div class="row_3"></div>
                    </div>
                    <div class="sidebar_two">
                        <div class="sanpham">
                            <div class="sanpham_show">
                                <% for(let i = 0; i < products.length; i++){ %>
                                <a
                                    href="/trangsanphamchitiet/<%=products[i].id %>"
                                >
                                    <img
                                        src="<%=products[i].images %>"
                                        alt="ảnh lỗi"
                                    />
                                    <div class="sanpham_gia">
                                        <strong class="name"
                                            ><%=products[i].name %></strong
                                        >
                                        <p><%=products[i].price%></p>
                                    </div>
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="Thongtinlienhe">
                    <h1>Thông Tin Liên Hệ</h1>
                    <p>Địa chỉ: Định Công, Hoàng Mai, Hà Nội</p>
                    <p>SĐT: 1910192092</p>
                    <p>Gmail: abc1234@gmail.com</p>
                </div>
                <div class="Lienket">
                    <h1>Liên Kết</h1>
                    <ul>
                        <li><a href="/gioithieu">Giới thiệu</a></li>
                        <li><a href="/lienhe">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="Lienket">
                    <h1>Hỗ Trợ</h1>
                    <ul>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Hướng dẫn thanh toán</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Tư vấn khách hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="/js/base.js"></script>
    </body>
</html>
